.aws-sam/
dist/
node_modules/
samconfig.toml
.env
.env.*
*.log

backend/samconfig.tml

DerivedData/
build/
*.xcuserstate
*.xcuserdatad/
*.xcscmblueprint

.swiftpm/
.build/
Package.resolved

.DS_Store
